<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxg.security.data.mapper.SysRoleDao">


    <select id="getPageList" resultType="com.zxg.security.data.vo.SysRolePageResp">
        select sr.id,sr.name
        from sys_role sr
        where 1=1
        <if test="req.name != null">
            and sr.name like concat('%',#{req.name},'%')
        </if>
    </select>
</mapper>
