package ${package}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.springframework.stereotype.Component;
import ${package}.entity.${className};

/**
 * @author: ${author}
 * @date: Created in ${datetime}
 */
@Component
public interface ${className}Mapper extends BaseMapper<${className}> {

}
