package ${package}.service.impl;

import ${package}.service.${className}Service;
import org.springframework.stereotype.Service;

/**
 * @author: ${author}
 * @date: Created in ${datetime}
 */
@Service
public class ${className}ServiceImpl implements ${className}Service {

}
